<div class="row">
  <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let form of forms">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ form.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><span class="badge bg-success" *ngIf="(user | async).forms?.includes(form.route)">Completed</span> {{ form.time }} min</h6>
        <p class="card-text">{{ form.description }}</p>
        <a href="#" class="card-link" routerLink="/forms/{{ form.route }}">Start now</a>
        <a href="{{ form.moreInfoLink }}" class="card-link">Learn more</a>
      </div>
    </div>
  </div>
</div>
