<div class="container-fluid bg-light">
<div class="container py-5">
  <h1 class="display-1 mb-5">Welcome to the Kaleidoscope Psychosis Project</h1>
  <p class="lead">
    This is a web app set up to collect information that can better assist in
    psychosis management. When you peer down a Kaleidoscope and twist it - you
    see an new view of what's in front of you. There will always be light at
    the end of the tunnel.
  </p>
</div>
</div>
<div class="container py-3">
<h1 class="mb-3">Forms</h1>
<app-forms></app-forms>
</div>
